body{
    background: url(bg.jpg);
}
h2{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin:10%;
    border-radius: 7%;
    padding:5%;
    flex-wrap: wrap;
    
}
fieldset{
    border: none;
    height: 35%;
    border-radius: 5%;
    box-sizing: border-box;
    padding:5%;
    background-color: rgb(252, 227, 198);
}
fieldset,.form,.image{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
img.logo, img.t-shirt{
    max-width: 150px;
}
input[type="text"]{
    width: 85%;
    margin-top: 1%;
    margin-bottom: 1%;
}
input[type="submit"]{
    display:inline;
    margin-left: 10%;
    width:30%
}
a{
    text-decoration: none;
}
details{
    font-size: large;
    font-weight: 100;
}
